.App-intro {
  font-size: large;
  text-align: center;
}

.avatar {
  width: 40px;
}

.bigBoxTitle{
  font-size: 24px;
  height: 24px;
  display: flex;
  margin-bottom: 16px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #4A4A4A;
}

.topBox{
  margin-left: 21px;
}

.qaButton{
  background-color: #009DCD;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 13px;
  height: 34px;
  margin-top: 10px;
}

.qaButtonOff{
  background-color: #9B9B9b;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 13px;
  height: 34px;
  margin-top: 10px;
}

.questionBox {
  width: 50%;
  margin-right: 20px;
}

.messages{
  display: flex;
  margin-left: 21px;
  margin-top: 48px;
}

.boxTitle{
  font-size: 16px;
  height: 22px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #4A4A4A;
  font-weight: 600;
}

.questionInput{
  display: flex;
  width: 100%;
  height: 123px;
  font-size: 15px;
  color: #364347;
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', 'Open Sans', 'Helvetica Neue', sans-serif;

}

.publishButton{
  background-color: #009DCD;
  border: none;
  width: 77px;
  height: 32px;
  margin-top: 15px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
}

.buttonText{
  margin-right: 15px;
  font-size: 14px;
  height: 19px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #4A4A4A;
  margin-top: 23px;

}

.buttonBox{
  float: right;
  display: flex;
}

.statusesBox{
  display: flex;
  flex: 1;
  flex-direction: row wrap;
  margin: 10px;
  margin-right: 05px;
  margin-top: 30px;
  /* padding-right: 20px; */
}


.listBox{
  width: 33%;
  padding: 10px;
}

.list{
  display: flex;
  border: 1px solid #DEDEDE;
  height: 620px;
  flex-direction: column;
  list-style: none;
  padding: 0px;
  overflow: scroll;
}

.listItem{
  height: 44px;
  border-bottom: 1px solid #DEDEDE;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
}

.itemTitle{
  margin-left: 16px;
  font-size: 16px;
  height: 22px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #4A4A4A;
  margin-top: 11px;
  display: flex;
  flex: 1;
}

.button1 {
  height: 22px;
  width: 21px;
  margin-top: 11px;
  margin-right: 21px;
  /* float: right;
  display: flex; */
}

.button2 {
  height: 12px;
  width: 16px;
  margin-top: 16px;
  margin-right: 21px;
  /* float: right;
  display: flex; */
}

.closeButton{
  flex: 1;
  display: flex;
  float: right;
  margin-Top: 5px;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-Left: 5px;
  font-weight: 600;
  font-size: 12px;

}

.Modal {
  position: absolute;
  width: 600px;
  border: 1px solid #CDCDCD;
  background-color: #FFFFFF;
}

.Overlay {
  position: fixed;
  left: 29%;
  top: 120px; 
}

.modalTextBox {
  padding-top: 15px;
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.modalButtonBox {
  height: 71px;
  background-color: #484D4F;
}

.modalHeadline{
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #4A4A4A;
}


.modalText{
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #4A4A4A;
}

.modalDone{
  background-color: #009DCD;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 18px;
  height: 41px;
  width: 81px;
  margin-top: 15px;
  border-radius: 0;
}

.modalExport{
  text-decoration: none;
  background-color: #009DCD;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 13px;
  margin-top: 15px;
  border-radius: 0;
  margin-left: 30px;
  margin-right: 20px;
  padding: 9px;
  border-radius: 4px;
}

.modalExport1{
  background-color: #009DCD;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 18px;
  height: 41px;
  width: 165px;
  margin-top: 15px;
  border-radius: 0;
  margin-left: 30px;
  margin-right: 20px;
}